services:
    prestart:
        build: 
            context: ./backend
        env_file:
            - .env
        environment:
            - DB_HOST=db
        depends_on:
            db:
                condition: service_healthy
        restart: "no"
        command: bash scripts/prestart.sh
    backend:
        build:
            context: ./backend
        ports:
            - "8000:8000"
        env_file:
            - .env
        environment:
            - DB_HOST=db
            - DB_PORT=${DB_PORT}
            - DB_USER=${DB_USER}
            - DB_PASSWORD=${DB_PASSWORD}
            - DB_NAME=${DB_NAME}
            - REDIS_HOST=redis
            - REDIS_PORT=${REDIS_PORT}
            - REDIS_SSL=${REDIS_SSL}
            - FIRST_SUPERUSER=${FIRST_SUPERUSER}
            - FIRST_SUPERUSER_PASSWORD=${FIRST_SUPERUSER_PASSWORD}
            - FRONTEND_HOST=http://frontend:3000
            - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
            - SECRET_KEY=${SECRET_KEY}
            - ALGORITHM=${ALGORITHM}
            - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
            - REFRESH_TOKEN_EXPIRE_MINUTES=${REFRESH_TOKEN_EXPIRE_MINUTES}
            - RABBITMQ_USER=${RABBITMQ_USER}
            - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
            - RABBITMQ_HOST=rabbitmq
            - RABBITMQ_PORT=${RABBITMQ_PORT}
        depends_on:
            prestart:
                condition: service_started
            db:
                condition: service_healthy
            redis:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://backend:8000/api/v1/utils/health-check/"]
            interval: 10s
            timeout: 5s
            retries: 3
            start_period: 60s 
    db:
        image: postgres:16.8-alpine
        env_file:
            - .env
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
            interval: 5s
            timeout: 5s
            retries: 5
        ports:
            - "5432:5432"
        restart: unless-stopped
    redis:
        image: redis:7-alpine
        volumes:
            - redis_data:/data
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 5s
            timeout: 3s
            retries: 5
        ports:
            - "6379:6379"
        restart: unless-stopped
    rabbitmq:
        image: rabbitmq:3-management
        env_file:
            - .env
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        healthcheck:
            test: ["CMD", "rabbitmqctl","status"]
            interval: 5s
            timeout: 30s
            retries: 5
            start_period: 40s
    telegram-bot:
        build: ./tgbot
        env_file:
            - .env
        environment:
            - TELEGRAM_API_TOKEN=${TELEGRAM_API_TOKEN}
            - ADMIN_ID=${ADMIN_ID}
            - BACKEND_API_URL=${BACKEND_API_URL}
            - RABBITMQ_URL=${RABBITMQ_URL}
            - DATABASE_URL=${DATABASE_URL}
        depends_on:
            backend: 
                condition: service_started
            rabbitmq:
                condition: service_healthy
    frontend:
        build:
            context: ./frontend
            args:
                - VITE_API_URL=/api/
        ports:
            - "3000:80"
        restart: always
        depends_on:
            backend:
                condition: service_started
volumes:
    postgres_data:
    redis_data:
    rabbitmq_data: